<div id="profile-container">
  <div class="left-part col-4">
    <%= image_tag('logo.png', class: "photo-profile logo-wagon") %>
    <%= image_tag('at.png', class: "photo-profile photo-at") %>
  </div>
  <div class="right-part col-8">
    <h1>Qui suis-je ?</h1>
    <p>Après mon <span>Master d'audit et stratégie d'entreprise</span>, j'ai eu mon premier poste en <span>gestion de projet</span>, au service marketing d'un groupe de grande distribution. Souhaitant me rapprocher au plus proche des nouvelles techonologies du numérique, je suis formé en <span>Ruby on Rails</span> au sein du programme <span>du Wagon</span>. Par la suite, j'ai appris <span>ReactJS - Redux</span> grâce à un programme de ce même bootcamp.</p>
    <p>Aujourd'hui je recherche un poste de Développeur Web, en France métropolitaine.</p>
    <div class="icons">
      <%= link_to "https://github.com/Arthieffry", target: "_blank" do %>
        <%= icon("fab", "github") %>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/arthur-thieffry-2a8583b7/", target: "_blank"  do %>
        <%= icon("fab", "linkedin-in") %>
      <% end %>
    </div>
  </div>
</div>


