<div id="projects-container">
  <div class="jumbotron jumbotron-fluid projects-title">
    <div class="container">
      <h1 class="display-3">Gladius</h1>
      <p class="lead page-description">Carnet numérique d'entrainements personalisables, permettant de créer, choisir et réaliser ses propres exercices et programmes, afin de mieux suivre l'évolution de ses performances.</p>
      <p class="lead page-description">Projet réalisé en 9jours, en équipe de 4 développeurs, au sein de la formation du Wagon.</p>
      <em>Actuellement plus en ligne</em>
    </div>
  </div>
</div>

<div id="images-container">
  <%= cl_image_tag("Gladius_-_Landig_page_iom2i1.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_Dashboard_bc8jmc.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_programmes_hcl64d.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_création_programme_d0lkkn.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_Exercices_rczwqt.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_création_exercice_ilxw95.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_création_séances_udiivx.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_Réalisation_de_la_complétion_mnabq5.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_Complétion_znrirm.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_profil_uobhgf.png", class: "image-presentation") %>
  <%= cl_image_tag("Gladius_-_Form_Profile_obdwep.png", class: "image-presentation") %>
</div>
