<div class="main-root">
  <span id="btn-sidebar" onclick="openNav()">
    <%= icon('fas', 'angle-left') %>
  </span>
  <div class="root">
    <%= render 'components/banner' %>
    <%= render 'components/profile' %>
    <%= render 'components/carrousel' %>
    <%= render 'components/projects' %>
    <%= render 'components/contact' %>
  </div>
</div>

<% content_for :script do  %>
  <script>
    /* Open the sidenav */
    function openNav() {
      document.getElementById("sidebar").style.width = "100%";
      document.getElementById("btn-sidebar").style.display = "none";
    }

    /* Close/hide the sidenav */
    function closeNav() {
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("btn-sidebar").style.display = "block";
    }
  </script>
<% end %>
