<!DOCTYPE html>
<html>

  <head>
    <!-- General -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= DEFAULT_META["meta_title"] %></title>
    <meta name="description" content="Arthur Thieffry - Développement web fullstack en Ruby on Rails / ReactJS.">
    <%= favicon_link_tag 'favicon.png' %>
    <!-- Facebook -->
    <meta property="og:title" content="<%= DEFAULT_META["meta_title"] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= DEFAULT_META["meta_image"] %>" />
    <meta property="og:description" content="<%= DEFAULT_META["meta_description"] %>" />
    <meta property="og:site_name" content="<%= DEFAULT_META["meta_title"] %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
    <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
    <meta name="twitter:image:src" content="<%= DEFAULT_META["meta_image"] %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= content_for :script  %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

</html>
